section.found-car#pre-order
   .container.found-car__container
       .found-car__left-block
           .found-car__title Не нашли</br> понравившийся автомобиль?
           .found-car__text
               p.found-car__text-one Возможно нужный вам автомобиль уже стоит на поставке и скоро будет в наличии
               p Забронируй его первым!
           ul.found-car__list
               li.found-car__item
                  .found-car__item-txt  А/м, которых еще нет в шоуруме.
                      +icon("front-car", "found-car__one")
               li.found-car__item
                   .found-car__item-txt  Большой выбор комплектаций.
                       +icon("front-car-two", "found-car__two")
               li.found-car__item
                   .found-car__item-txt  Персональная консультация.
                       +icon("consult", "found-car__consult")
               a(href="#" class="found-car__link-application") Оставить заявку
   .found-car__pic


