section.mountain-road
    ul.mountain-road__list
        li.mountain-road__item
            .mountain-road__num 100
                +icon("left-arrow", "mountain-road__arrow")
            .mountain-road__text Автомобилей в наличии
        li.mountain-road__item
            .mountain-road__num 10
                +icon("left-arrow", "mountain-road__arrow")
            .mountain-road__text Бонусных программ
        li.mountain-road__item
            .mountain-road__num 1000
                +icon("left-arrow", "mountain-road__arrow")
            .mountain-road__text Довольных клинтов
        li.mountain-road__item
            .mountain-road__num 45
                +icon("left-arrow", "mountain-road__arrow")
            .mountain-road__text ДЦ по всей России

