.offer-page
    .offer-page__block
        .offer-page__title Получить предложение
        .offer-page__text Заполните форму ниже, чтобы получить специальное предложение
        form.offer-page__form
            <input type="text" name="username" placeholder="Имя">
            <input type="text" name="secondname" placeholder="Фамилия">
            a(href="#" class="modal-spec-offer__link") Получить предложение
        label <input type="checkbox" name="agreement" value="agreement" class="checkbox"> <span class="checkbox-custom"></span> <span class="agreement__text"><strong>Я согласен с </strong><span class="underline-text"> условиями обработки персональныx данных</span></span>
        .close