.rate-page
    .rate-page__block
        .rate-page__title Заказать оценку автомобиля
        .rate-page__text Заполните форму ниже, чтобы заказать оценку вашего автомобиля
        form.rate-page__form
            <input type="text" name="username" placeholder="Имя">
            <input type="text" name="secondname" placeholder="Фамилия">
            .rate-page__car-info
                <input type="text" name="auto" placeholder="Автомобиль">
                <input type="text" name="year" placeholder="Год">
            a(href="#" class="traid-in__down-block-link") Заказать оценку
        label <input type="checkbox" name="agreement" value="agreement" class="checkbox"> <span class="checkbox-custom"></span> <span class="agreement__text"><strong>Я согласен с </strong><span class="underline-text"> условиями обработки персональныx данных</span></span>
        .close

