section.traid-in#traid-in
    .traid-in__block
        .traid-in__block-title Выгодные условия Treid-in
        ul.traid-in__list
            li.traid-in__item
                .traid-in__item-title Экспресс-оценка вашего автомобиля
                .traid-in__item-text Наши специальсты быстро и профессионально оценят ваш автомобиль. Деньги в день обращения.
            li.traid-in__item
                .traid-in__item-title Честная цена
                .traid-in__item-text Мы предлагаем честную и аргументированную цену, отвечающую объективной рыночной стоимости.
            li.traid-in__item
                .traid-in__item-title Быстрое оформление и диагностика
                .traid-in__item-text Быстрая диагностика и оформление всех необходимых документов для сделки купли-продажи.
            li.traid-in__item
                .traid-in__item-title Обмен старого автомобиля на новый
                .traid-in__item-text Для обмена старого авто на новый по программе Trade-in - требуеется не более 1 часа.
        .traid-in__down-block
            .traid-in__down-block-title Закажите предварительную онлайн оценку автомобиля
            a(href="#" class="traid-in__down-block-link") Заказать оценку
