section.unic-offer
    .unic-offer__block
        .unic-offer__title Уникальное предложение!
        .unic-offer__text Получите максимально выгодные условия на покупку <strong>Toyota</strong>
        .unic-offer__input-block
            input(type="text" id="unic-offer__txt" name="phone" placeholder="Введите номер телефона")
            a(href="#" class="unic-offer__link") Получить предложение
