section.section.banner
    .banner__img
        img(src="images/banner/banner.jpg" class="banner__img-pic" alt="banner")
        img(src="images/banner/banner2.jpg" class="banner__img-pic" alt="banner")
    .banner__text <strong>Новый Toyota Land Cruiser Prado</strong><br> СИЛА ДАЁТСЯ ДОСТОЙНЫМ
