.traid-in {
  min-height: 980px;
  width: 100vw;
  background-image: url(images/bg/land-cruiser.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 95px;
  position: relative; }
  @media screen and (max-width: 500px) {
    .traid-in {
      margin-bottom: 40px; } }
  .traid-in__block {
    width: 520px;
    height: 670px;
    display: flex;
    flex-direction: column;
    background-image: url(images/bg/grey-cloud.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    position: absolute;
    right: 3%;
    top: 12%; }
    @media screen and (max-width: 500px) {
      .traid-in__block {
        top: 1%;
        width: 318px;
        height: 490px;
        right: 6%; } }
    @media screen and (max-width: 320px) {
      .traid-in__block {
        height: 490px;
        right: 0;
        top: 1%;
        width: 320px; } }
  .traid-in__block-title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    padding-top: 25px; }
    @media screen and (max-width: 500px) {
      .traid-in__block-title {
        font-size: 16px;
        padding-top: 15px; } }
  .traid-in__list {
    padding: 0 50px;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 500px) {
      .traid-in__list {
        padding: 0 25px; } }
  .traid-in__item {
    position: relative; }
    .traid-in__item:before {
      background-color: #e50000;
      border-radius: 50%;
      content: "";
      display: block;
      height: 15px;
      left: -5px;
      position: absolute;
      top: 5px;
      width: 15px; }
      @media screen and (max-width: 500px) {
        .traid-in__item:before {
          height: 10px;
          left: -4px;
          width: 10px; } }
    .traid-in__item:last-child {
      margin-bottom: 10px; }
      .traid-in__item:last-child .traid-in__item-text {
        border-left: none; }
  .traid-in__item-title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding-left: 25px; }
    @media screen and (max-width: 500px) {
      .traid-in__item-title {
        font-size: 13px;
        padding-left: 20px; } }
  .traid-in__item-text {
    font-family: toyota_displaybold, Arial, sans-serif;
    color: #fff;
    border-left: 5px dotted #e50000;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-top: 10px; }
    @media screen and (max-width: 500px) {
      .traid-in__item-text {
        font-size: 11px;
        padding-left: 20px;
        border-left: 3px dotted #e50000; } }
  .traid-in__down-block-title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    text-align: center; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .traid-in__down-block-title {
        width: 500px; } }
    @media screen and (max-width: 500px) {
      .traid-in__down-block-title {
        font-size: 12px;
        margin-bottom: 10px; } }
  .traid-in__down-block {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .traid-in__down-block-link {
    background-color: #e50000;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    padding: 13px 0;
    text-align: center;
    text-decoration: none;
    width: 200px;
    cursor: pointer; }
    .traid-in__down-block-link:hover {
      background-color: #E35854; }
    @media screen and (max-width: 500px) {
      .traid-in__down-block-link {
        padding: 6px 0;
        width: 160px;
        font-size: 12px; } }

/*# sourceMappingURL=traid-in.css.map */
