.advantages {
  display: flex;
  margin-bottom: 40px;

&__container {
  display: flex;
  flex-direction: column;
}

  &__title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
    text-align: center;

    &:after {
      background-color: #f27f7f;
      bottom: -20%;
      content: "";
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      width: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__row {
    margin-bottom: 70px;
  }

  &__block-title {
    font-family: toyota_textregular, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    margin-bottom: 70px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex: 1;
  }

  &__pic {
    margin-right: 15px;
  }

  &__pic-medal, &__pic-garage, &__pic-man, &__pic-gift, &__pic-bank, &__pic-exchange {
    height: 36px;
    width: 70px;
    display: block;
    border-right: 3px dotted #e50000;
  }

  &__text {
    font-family: toyota_displayregular, Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
  }
}