.benefit {
  min-height: 150px;
  width: 100%;
  background-color: #333333;
  margin-bottom: 90px;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #5c5c5c;
    padding: 0 20px;
    padding-bottom: 14px;
    z-index: 15;

    &:hover {
      cursor: pointer;
      background-color: #e50000;
      transition: 0.3s;

      .benefit__big-num {
        color: #fff;
      }
    }

    &:first-child {
      border-left: 2px solid #5c5c5c;
    }
  }

  &__big-num {
    font-family: toyota_displaybold,Arial,sans-serif;
    font-size: 50px;
    color: #5c5c5c;
    margin-right: 10px;
  }

  &__name {
    display: flex;
    flex-direction: row;
    font-family: toyota_displaybold,Arial,sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__name-txt {
    display: flex;
    align-items: center;
  }

  &__text {
    font-family: toyota_textregular,Arial,sans-serif;
    font-size: 14px;
    color: #fff;
  }
}