.contacts {
  display: flex;
  margin-right: 60px;
  margin-bottom: 60px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 70px;
    text-align: center;
    position: relative;

    &:after {
      background-color: #f27f7f;
      bottom: -20%;
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      width: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__pic-phone, &__pic-placeholder, &__pic-stopwatch {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  &__block-title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__info {
    font-family: 'toyota_textregular', Arial, sans-serif;
    font-size: 24px;
  }
}