.footer {
  display: flex;
  background-color: #f0f0f0;
  flex-direction: column;

  &__container {
    position: relative;
  }

  &__sale-block {
    padding-top: 120px;
    padding-bottom: 40px;
  }

  &__sale-title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #e50000;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__down-arrow {
    display: block;
    width: 19px;
    position: absolute;
    left: 12%;
    height: 100%;
  }

  &__sale-text {
    font-family: toyota_textregular, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 25px;
  }

  &__down-block {
    min-height: 80px;
    background-color: #dadada;
    display: flex;
    align-items: center;
  }

  &__down-text {
    font-family: toyota_textregular, Arial, sans-serif;
    font-size: 14px;
    color: #868686;
  }

  &__link {
    width: 50px;
    height: 50px;
    background-color: #e50000;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__up-link {
    width: 20px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}