.mountain-road {
  min-height: 320px;
  width: 100%;
  background-image: url(assets/images/bg/mountain-road.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;


  &__list {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__num {
    font-family: toyota_displaybold,Arial,sans-serif;
    font-size: 50px;
    color: #ffffff;
    position: relative;
  }

  &__text {
    font-family: toyota_textregular, Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding: 0 25px;
    text-transform: uppercase;
  }

  &__arrow {
    width: 24px;
    height: 36px;
    fill: white;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
}