.rate-page {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0%, 0%, 0%, .5);
  height: 100%;
  padding: 0 2rem;
  justify-content: center;
  display: none;
  z-index: 99999;

  &__block {
    width: 500px;
    min-height: 500px;
    background: #fff;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    padding: 35px 47px 40px;
    position: relative;
  }

  &__title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    text-align: center;
    margin-bottom: 30px;

    &:after {
      content: '';
      display: block;
      width: 80px;
      height: 3px;
      background-color: #f27f7f;
      position: absolute;
      bottom: -20%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__text {
    font-family: toyota_textregular, Arial, sans-serif;
    text-align: center;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin-bottom: 20px;
    align-items: center;

    input {
      margin-bottom: 20px;
      padding: 15px 0 15px 15px;
      outline:none;
      border-radius: 5px;
      border: 1px solid #cecece;
      width: 100%;
    }
  }

  &__car-info {
    display: flex;
    flex-direction: row;

    input {
      width: 50%;
      margin-right: 15px;
      margin-bottom: 35px;
      padding: 15px 0 15px 15px;
      outline:none;
      border-radius: 5px;
      border: 1px solid #cecece;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .agreement__text {
    font-family: toyota_textregular, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
  }

  .underline-text {
    text-decoration: underline;
    color: #5c5c5c;
    display: inline-block;
  }
}

.checkbox {
  display: none;
}

.checkbox-custom {
  position: relative;
  width: 15px;
  height: 16px;
  border: 1px solid #e50000;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  z-index: 999;
}

.checkbox:checked + .checkbox-custom:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background-image: url("assets/images/others/check.jpg");
  width: 16px;
  height: 12px;
  z-index: 99;
  background-repeat: no-repeat;
}

.close {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  z-index: 999;

  &:before {
    content: "";
    position: absolute;
    top: 0.625rem;
    left: 0;
    width: 1.25rem;
    height: 0.25rem;
    background-color: #cacac9;
    border-radius: 0.3125rem;
    transform: rotate(45deg);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0.625rem;
    left: 0;
    width: 1.25rem;
    height: 0.25rem;
    background-color: #cacac9;
    border-radius: 0.3125rem;
    transform: rotate(-45deg);
  }
}

.is-active {
  display: flex;
}
