.timer {

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
    text-align: center;

    &:after {
      background-color: #f27f7f;
      bottom: -20%;
      content: "";
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      width: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__block {
    display: flex;
    justify-content: center;
    background: url("assets/images/bg/timer.jpg") center center no-repeat / cover;
    min-height: 365px;
    align-items: center;
  }

  &__day, &__our, &__min, &__sec {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    position: relative;
    line-height: 1;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #919191;
      border-radius: 50%;
      top: 37%;
      left: -13%;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #919191;
      border-radius: 50%;
      top: 51%;
      left: -13%;
    }
  }

  &__day {
    &:before {
      content: "";
      display: none;
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #919191;
      border-radius: 50%;
      top: 37%;
      left: -13%;
    }

    &:after {
      content: "";
      display: none;
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #919191;
      border-radius: 50%;
      top: 51%;
      left: -13%;
    }
  }

  &__sec {
    margin-right: 0;
  }

  &__day-num, &__our-num, &__min-num, &__sec-num {
    font-family: 'toyota_textbold', Arial, sans-serif;
    font-size: 140px;
    color: #fff;
  }

  &__day-text, &__our-text, &__min-text, &__sec-text {
    font-family: 'toyota_textregular', Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
}