.traid-in {
  height: 100vh;
  width: 100vw;
  background: url(assets/images/bg/land-cruiser.jpg) center center no-repeat / cover;
  margin-bottom: 95px;
  position: relative;

  &__block {
    width: 520px;
    height: 670px;
    display: flex;
    flex-direction: column;
    background: url(assets/images/bg/grey-cloud.jpg) center center no-repeat / cover;
    opacity: 0.9;
    position: absolute;
    right: 3%;
    top: 25%;
  }

  &__block-title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    padding-top: 25px;
  }

  &__list {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;

    &:before {
      background-color: #e50000;
      border-radius: 50%;
      content: "";
      display: block;
      height: 15px;
      left: -5px;
      position: absolute;
      top: 5px;
      width: 15px;
    }

    &:last-child {

      .traid-in__item-text {
        border-left: none;
      }
      margin-bottom: 10px;
    }
  }

  &__item-title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding-left: 25px;
  }

  &__item-text {
    font-family: toyota_displaybold, Arial, sans-serif;
    color: #fff;
    border-left: 5px dotted #e50000;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-top: 10px;
  }

  &__down-block-title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }

  &__down-block {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__down-block-link {
    background-color: #e50000;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    padding: 13px 0;
    text-align: center;
    text-decoration: none;
    width: 200px;
  }
}