.unic-offer-down {
  min-height: 140px;
  background: url("assets/images/bg/unic-offer.jpg") center center no-repeat / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;

  &__title {
    font-family: toyota_displaybold, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-right: 100px;
    color: #fff;
  }

  &__link {
    background-color: #e50000;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    padding: 13px 0;
    text-align: center;
    text-decoration: none;
    width: 230px;
  }
}